In [123]:
# Imports (External)
import numpy as np
import pandas as pd
import datetime
from datetime import datetime

from monthdelta import monthdelta
import xlrd
import xlsxwriter
from collections import OrderedDict

import sys
sys.path.append('../')  

# Visualization/plotting imports
import matplotlib as mpl
import matplotlib.pyplot as plt

# Machine learning imports
# import sklearn
# import tensorflow as tf
# import keras
import pywt
from pywt import wavedec, waverec
from scipy import signal
from statsmodels.robust import mad

# Internal Imports
from wsae_lstm.utils import dictmap_load

In [124]:
dict_dataframes_index = dictmap_load(path = "../data/processed/clean_data_index.xlsx")   
dict_dataframes_future = dictmap_load(path = "../data/processed/clean_data_future.xlsx")

In [125]:
dict_dataframes_index.keys()

odict_keys(['csi300 index data', 'nifty 50 index data', 'hangseng index data', 'nikkei 225 index data', 's&p500 index data', 'djia index data'])

In [126]:
dict_dataframes_index['csi300 index data'].head(2)

,date,open,high,low,close,volume,us dollar index,shibor,macd,cci,atr,boll,ema20,ma10,mtm6,ma5,mtm12,roc,smi,wvad
0,2008-07-01,2799.20,2809.38,2690.18,2698.35,288515.85,72.34,2.5006,-213.078565,-128.949052,119.200,3173.475692,3033.748201,2851.2504,-91.594,2851.3262,-280.770,-9.424605,-0.097927,-8.726278e+07
1,2008-07-02,2702.63,2745.94,2670.06,2699.60,279163.65,71.99,2.7238,-213.732249,-139.719688,75.875,3140.413385,3001.924277,2822.0828,-152.318,2797.3382,-252.645,-8.557733,-0.026497,-1.095493e+08

In [127]:
df = dict_dataframes_index['csi300 index data']
df = df.set_index(df['date'])

In [128]:
# df_tvt1 = df[(df['date'] >= '2008-7-01') & (df['date'] <= '2011-01-01')]
# df_tvt2 = df[(df['date'] >= '2008-10-01') & (df['date'] <= '2011-04-01')]
# df_tvt3 = df[(df['date'] >= '2009-01-01') & (df['date'] <= '2011-07-01')]

In [152]:
df['date'][0]

Timestamp('2008-07-01 00:00:00')

In [158]:
df['date'][0]+monthdelta(30)

Timestamp('2011-01-01 00:00:00')

In [160]:
split_count = 24
month_increment = 0
while split_count > 0:
    front = df['date'][0] 
    front = front + monthdelta(month_increment)
    back = df['date'][0]+monthdelta(30) 
    back = back + monthdelta(month_increment)
    month_increment += 3
    split_count -= 1
    print(front,back)

2008-07-01 00:00:00 2011-01-01 00:00:00
2008-10-01 00:00:00 2011-04-01 00:00:00
2009-01-01 00:00:00 2011-07-01 00:00:00
2009-04-01 00:00:00 2011-10-01 00:00:00
2009-07-01 00:00:00 2012-01-01 00:00:00
2009-10-01 00:00:00 2012-04-01 00:00:00
2010-01-01 00:00:00 2012-07-01 00:00:00
2010-04-01 00:00:00 2012-10-01 00:00:00
2010-07-01 00:00:00 2013-01-01 00:00:00
2010-10-01 00:00:00 2013-04-01 00:00:00
2011-01-01 00:00:00 2013-07-01 00:00:00
2011-04-01 00:00:00 2013-10-01 00:00:00
2011-07-01 00:00:00 2014-01-01 00:00:00
2011-10-01 00:00:00 2014-04-01 00:00:00
2012-01-01 00:00:00 2014-07-01 00:00:00
2012-04-01 00:00:00 2014-10-01 00:00:00
2012-07-01 00:00:00 2015-01-01 00:00:00
2012-10-01 00:00:00 2015-04-01 00:00:00
2013-01-01 00:00:00 2015-07-01 00:00:00
2013-04-01 00:00:00 2015-10-01 00:00:00
2013-07-01 00:00:00 2016-01-01 00:00:00
2013-10-01 00:00:00 2016-04-01 00:00:00
2014-01-01 00:00:00 2016-07-01 00:00:00
2014-04-01 00:00:00 2016-10-01 00:00:00

In [129]:
df['date'][0]+monthdelta(3)

Timestamp('2008-10-01 00:00:00')

In [102]:
len(df)

2010

In [91]:
# dict_dataframes_index['csi300 index data'].drop(['date'],axis=1,inplace=True)
# dict_dataframes_index['csi300 index data'].values

In [75]:
# validating
#df_train['date'][0]+monthdelta(3)

In [76]:
# testing
#df_train['date'][-1]+monthdelta(6)

In [77]:
# dict_dataframes_index['csi300 index data'].drop(['date'],axis=1,inplace=True)
# dict_dataframes_index['csi300 index data'].values

In [78]:
# from sklearn.model_selection import TimeSeriesSplit
# X = dict_dataframes_index['csi300 index data'].values
# tscv = TimeSeriesSplit(n_splits=6)
# for train_index, test_index in tscv.split(X):
#     train = X[train_index]
#     test = X[test_index]
#     print('Observations: %d' % (len(train) + len(test)))
#     print('Training Observations: %d' % (len(train)))
#     print('Testing Observations: %d' % (len(test)))